modules = ["nodejs-22"]

run = "npm run dev"

[nix]
channel = "stable-24_05"

[deployment]
deploymentTarget = "autoscale"
build = ["npm", "run", "build"]
run = ["npm", "run", "preview"]

[[ports]]
localPort = 5173
externalPort = 80
